@import 'assets/css/deviceOperate.scss';

.reset-password {
    .el-dialog {
        &--center {
            --el-dialog-width: 676px;
            height: 530px;

            .el-table {
                &__header-wrapper {
                    margin-bottom: 5px;
                }
    
                &__row {
                    background-color: $background3;
                    &:hover {
                        td {
                            background-color: $background10 !important;
                        }
                    }
                }
            }
        }

        &__body {
            padding: 0;
        }

        &__footer {
            width: 631px;
        }
    }

    &-content {

        // table为空
        .currency-count-table {
            .el-table__inner-wrapper tr:first-child th {
                &:first-child {
                    border-left: none;
                }
            
                &:last-child {
                    border-color: $border16;
                }
            }
        }

        .warnning-tip {
            // text-align: center;
            // border-radius: 2px;
            // background: rgb(249, 237, 239);
            // display: flex;
            // align-items: flex-start;
            // margin-top: 15px;
            // justify-content: center;
            @extend %warnning-tip;

            // img {
            //     width: 32px;
            //     height: 32px;
            //     transform: scale(.5);
            //     margin-left: 10px;
            //     margin-top: 1px;
            // }

            // span {
            //     font-size: $fontSize;
            //     color: $defaultColor;
            //     padding-right: 30px;
            //     font-weight: $fontSmallWeight;
            //     margin-top: 8px;
            // }
        }

        .tip-title {
            @extend %tip-title;
            // font-size: $fontSize;
            // color: $defaultColor;
            // margin: 15px 0;

            // span {
            //     color: $color1;
            // }
        }
    }

    // 表单
    .rule-form {
        margin-top: 15px;

        input {
            width: 450px;
        }

        .ipt-tip {
            font-size: $fontSize;
            color: $defaultColor;
            width: 453px;
            line-height: 1.5;
            margin-top: 6px;
        }

        // 间隔
        .set-empty {
            margin-bottom: 45px;

            .el-form-item__error {
                padding-top: 8px;
                @include break-wrap(break-all);
            }
        }

        // 自定义表单error文案颜色
        .error-color-tip {
            color: $color13;
        }

        // 常态表单error文案颜色
        .password-tip {
            color: $color7;
        }

        // 表单error文案、自定义表单error文案公共样式
        .error-color-tip,
        .password-tip {
            font-size: $fontSize;
            font-weight: $fontSmallWeight;
            // @extend %display-flex-align;
            @include display-align(center);
            margin-top: 8px;
            @include break-wrap(break-all);
            line-height: 1.5;
        }
    }
}
