@import 'assets/css/deviceOperate.scss';

.batch-recovery-instance {
    .el-dialog {
        &--center {
            --el-dialog-width: 676px;
            height: 402px;

            .el-table {
                &__header-wrapper {
                    margin-bottom: 5px;
                }
    
                &__row {
                    background-color: $background3;

                    &:hover {
                        td {
                            background-color: $background10 !important;
                        }
                    }
                }
            }

            .el-table__inner-wrapper tr:first-child th {
                &:first-child {
                    border-left: none;
                }
            
                &:last-child {
                    border-color: $border16;
                }
            }

            .el-table__row {
                background-color: $background3;

                &:hover {
                    td {
                        background-color: $background10 !important;
                    }
                }
            }
        }

        &__body {
            padding: 0;
        }

        &__footer {
            width: 631px;
        }
    }

    &-content {

        .warnning-tip {
            @extend %warnning-tip;
        }

        .tip-title {
            @extend %tip-title;
        }
    }
}
