$width1: 219px;

/* 侧边栏外层样式 */
.operate-navigationbar {
    position: absolute;
    left: 0;
    overflow: hidden;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 12px 7px 12px 0;
    min-height: calc(100vh - 80px);

    .long-set-nav {
        .nav-col {
            width: 219px;
            .el-menu {
                position: relative;
            }
        }
    }

    .set-nav {
        .nav-col {
            position: absolute;

            .el-menu {
                position: relative;
            }
        }
    }

    /* 侧边栏中层样式 */
    .long-set-nav,
    .set-nav {
        position: absolute;
        height: calc(100% - 23px);
        margin-left: 8px;
        bottom: 0;
        left: 0;
        top: 13px;
        right: 0;
        background: #fff;
        border-radius: 10px;
        max-width: 219px;
        transition: all .3s;

        /* 侧边栏展开样式 */
        .nav-col {
            height: 100%;
            box-shadow: 0 1px 4px 0 rgba(153,153,153,0.50);
            border-radius: 10px;
            transition: all .3s;

            .el-scrollbar {
                border-radius: 10px;
            }

            .el-menu {
                border-right: 0;
            }

            .nav-title-default {
                margin-left: 36px;
            }

            .nav-sub-long {
                overflow: hidden;
                width: 100px;
                text-overflow: ellipsis;
            }

             /* 侧边栏收起-【多级菜单】样式 */
            :deep(.custom-children-menu-short) {
                // width: 100%;
                .el-sub-menu__title {

                    .default-img {
                        animation: img-long-short .3s forwards;
                    }
                }
            }

            /* 侧边栏收起-【多级菜单】选中样式 */
            :deep(.custom-children-menu-short.is-active) {

                .el-sub-menu__title {
                    background: #e8f4fd;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }

            /* 侧边栏展开-【多级菜单】样式 */
            :deep(.custom-children-menu) {

                .el-sub-menu__title {
                    .default-img {
                        animation: img-short-long .3s forwards;
                    }
                }
            }

            /* 侧边栏展开-【多级菜单】选中样式 */
            :deep(.custom-children-menu.is-active) {
                .el-sub-menu__title {
                    background: #e8f4fd;
                    .el-icon {
                        color: #108ee9;
                    }
                }
            }

            /* 侧边栏【多级菜单】展开收起样式 */
            :deep(.custom-children-menu),
            :deep(.custom-children-menu-short) {
                float: right;
                width: 87%;
                transition: all .3s;

                /* 侧边栏展开收起子路由前缀样式 */
                .chilren-radius {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #000;
                    margin-left: 8px;
                    margin-right: 27px;
                }

                .el-menu {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    box-shadow: none !important;

                    &-item {
                        height: 42px;
                        min-width: 190px;
                        padding-left: 17px !important;
                    }
                }

                /* 侧边栏-【多级菜单】样式 */
                .el-sub-menu__title {
                    --el-menu-item-height: 42px;
                    margin-bottom: 16px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;

                    img {
                        width: 16px;
                        height: 16px;
                        position: absolute;
                    }

                    &:hover {
                        --el-menu-hover-bg-color: #f7f7f7;
                    }
                }
            }

            .custom-height {
                position: absolute;
                bottom: 0;
                background: #fff;
                width: 100%;
                height: 67px;
                z-index: 9;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            /* 侧边栏展开分割线样式 */
            .nav-long-line {
                width: 175px;
                margin-left: 21px;
            }

            // /* 侧边栏收起分割线样式 */
            .nav-short-line {
                width: 33px;
                margin-left: 12px;
            }

            /* 侧边栏展开收起分割线样式 */
            .nav-long-line,
            .nav-short-line {
                height: .6px;
                background: $color2;
                display: flex;
                position: absolute;
                bottom: 66px;
                transition: all .3s;
                z-index: 10;
            }
        
            /* 侧边栏展开icon位置 */
            .long-nav-icon {
                left: 175px;
            }
        
            /* 侧边栏收起icon位置 */
            .short-nav-icon {
                left: 20px;
            }
        
            /* 侧边栏展开收起icon样式 */
            .long-nav-icon,
            .short-nav-icon {
                position: absolute;
                z-index: 9;
                bottom: 0;
                margin-bottom: 28px;
                z-index: 10;
                transition: left .3s;

                .img-rotate {
                    transform: rotateY(180deg);
                    transition: all .3s;
                }
        
                .img,
                .img-rotate {
                    width: 17px;
                    height: 17px;
                    cursor: pointer;
                }
            }
        }
    }

    /* router-view样式 */
    .long-content,
    .short-content {
        height: calc(100% - 23px);
        position: absolute;
        margin: 0;
        overflow: auto;
        top: 13px;
        bottom: 0;
        right: 9px;
        display: flex;
        flex-direction: column;
        background: $color3;
        box-shadow: 0 1px 4px 0 rgba(153,153,153,0.30);
        border-radius: 10px;
        transition: width .3s;
    }

    /* router-view样式 */
    .long-content {
        width: calc(100% - 248px);
    }

    /* router-view样式 */
    .short-content {
        width: calc(100% - 85px);
    }

    /* 侧边栏展开样式 */
    .item-long-width {
        .default-img {
            animation: img-short-long .3s forwards;
        }
    }

    /* 侧边栏收起样式 */
    .item-short-width {
        .default-img {
            animation: img-long-short .3s forwards;
        }
    }

    .short-img {
        left: 14px !important;
    }

    .init-img {
        left: 20px !important;
    }

    /* 侧边栏展开收起img样式 */
    .item-long-width,
    .item-short-width {
        width: 87%;
        float: right;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

       img {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
       }
    }

    @keyframes img-short-long {
        0% {
            left: 14px;
        }
        100% {
            left: 20px;
        }
    }


    @keyframes img-long-short {
        0% {
            left: 20px;
        }
        100% {
            left: 14px;
        }
    }

}

/* 侧边栏收起-子路由滑过显示样式 */
:deep(.custom-short-nav.el-menu-item) {
    height: 45px !important;

    &:hover {
        background: #f7f7f7 !important;
    }
}

/* 侧边栏收起-子路由选中样式 */
:deep(.custom-short-nav.el-menu-item.is-active) {
    background: #e8f4fd !important;
}
