@import 'assets/css/deviceOperate.scss';

.batch-reset-password {
    .el-dialog {
        &--center {
            --el-dialog-width: 676px;
            // height: 530px;
            padding-bottom: 80px;

            .el-table {
                &__header-wrapper {
                    margin-bottom: 5px;
                }
    
                &__row {
                    background-color: $background3;

                    &:hover {
                        td {
                            background-color: $background10 !important;
                        }
                    }
                }
            }

            // table为空
            .currency-count-table {
                .el-table__inner-wrapper tr:first-child th {
                    &:first-child {
                        border-left: none;
                    }
                
                    &:last-child {
                        border-color: $border16;
                    }
                }

                .el-table__row {
                    background-color:  $background3;
                    &:hover {
                        td {
                            background-color: $background10 !important;
                        }
                    }
                }
            }
        }

        &__body {
            padding: 0;
        }

        &__footer {
            width: 631px;
        }
    }

    &-content {

        // table为空
        .currency-count-table {
            .img-empty {
                .el-table__body {
                    padding-bottom: 0 !important;
                }
                .el-table__empty-block {
                    background: $whiteBackground;

                    .el-table__empty-text {
                        color: $defaultColor;
                    }
                }
            }
        }

        .tip-title {
            @extend %tip-title;
        }

        .warnning-tip {
            @extend %plugin-warnning-tip;

            img {
                @extend %img-count;
            }

            .tip-count {
                font-size: $fontSize;
                padding: 10px 0;

                .reset-system-tip {
                    @include text-align(left);
                    line-height: 1.5;
                    padding: 0 10px 0 0;
                }
            }
        }
    }

    // 表单
    .rule-form {
        margin-top: 15px;

        input {
            width: 450px;
        }

        .ipt-tip {
            width: 453px;
            line-height: 1.5;
            margin-top: 6px;
            @include size-weight-color($fontSize, $fontSmallWeight, $defaultColor);
        }

        // 间隔
        .set-empty {
            margin-bottom: 45px;

            .el-form-item__error {
                padding-top: 8px;
                @include break-wrap(break-all);
            }
        }

        // 自定义表单error文案颜色
        .error-color-tip {
            color: $color13;
        }

        // 常态表单error文案颜色
        .password-tip {
            color: $color7;
        }

        // 表单error文案、自定义表单error文案公共样式
        .error-color-tip,
        .password-tip {
            font-size: $fontSize;
            font-weight: $fontSmallWeight;
            @include display-align(center);
            margin-top: 8px;
            @include break-wrap(break-all);
            line-height: 1.5;
        }
    }
}
