@import '@/assets/css/communal';

/* 安全设置 */
.security-setting {
    margin-top: 100px;
    overflow-y: auto;
    padding-bottom: 30px;

    .form {
        padding: 0 12px 31px;
        border-bottom: 1px solid #f0f0f0;
    }

    .set-confirmpassword-empty {
        margin-bottom: 18px !important;
    }

    .set-password-empty {
        margin-bottom: 40px !important;
    }

    .set-confirm-password,
    .set-password {
        :deep(input) {
            width: 400px;
            height: 36px;
            border-radius: 5px;
        }

        :deep(.el-form-item__label) {
            margin-left: 48px;

            &::before {
                display: none;
            }
        }

        :deep(.el-form-item__error) {
            margin-top: 6px;
        }
    }

    .error-color-tip {
        color: #f56c6c;
    }

    .password-tip {
        color: $color7;
    }

    .user-revise {
        margin-top: 32px;
        margin-left: 130px;
        width: 130px;
        height: 36px;
        border-radius: 5px;
        font-size: $fontSize;
    }

    .error-color-tip,
    .password-tip {
        font-size: $fontSize;
        font-weight: $fontSmallWeight;
        display: flex;
        height: 17px;
        align-items: center;
        margin-top: 8px;
    }
}