@import '@/assets/css/communal';

.fault-push {
    .el-dialog {
        &--center {
            --el-dialog-width: 526px;
            height: 302px;
        }

        &__body {
            padding: 0;
        }

        &__footer {
            width: 481px;
        }
    }

    &-content {

        .tip-title {
            font-size: 14px;
            color: $defaultColor;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 190px;
        }
    }
}
