.message-detail {
    padding-top: 24px !important;
    .header-detail {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-left: 36px;
        width: 1200px;
        border-bottom: 1px solid #F0F0F0;
    }
    .message-content {
        margin: 0 36px 0 36px;
        .message-tip {
            margin-top: 27px;
            font-size: 14px;
            font-weight: 600;
            color: #FF4D4F ;
        }
        .message-greeting {
            margin-top: 20px;
            font-size: 12px;
        }
        .operate-content {
            margin: 20px 0 0 0 !important;
            .el-table {
                margin-bottom: 20px;
            }
            .el-table tr {
                background-color: #F7F7F7 !important;
            }
            .el-table__body-wrapper {
                border-top: none;       
            }
        }
    }
    .message-detail-button {
        width: 230px;
        margin: 60px auto 0 auto;
        .el-button {
            width: 100px;
            height: 36px;
            font-size: 12px;
            color: #FFFFFF;
            background-color: #108EF9 !important;
            border-color: #108EF9 !important;
            &.is-disabled {
                background-color: #91D5FF!important;
                border-color: #91D5FF !important;
                &:hover {
                    background-color: #91D5FF!important;
                    border-color: #91D5FF !important;
                }
            }

            &:hover {
                background-color: #108EF9 !important;
                border-color: #108EF9 !important;
            }
        }
        .el-button+.el-button {
            margin-left: 30px;
        }
    }
    .point-click {
        cursor: pointer;
        color: #108ef9;
    }
}