.pt0 {
    padding-top: 0 !important;
}
.project-detail-content {
    padding-top: 0 !important;
    top: 117px !important;
    position: relative;
    background-color: white;
    clear: both;
    width: 1200px;
    min-height: calc(100vh - 160px);
    top: 137px;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;        
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow:0 1px 3px 0 #000000 0.5;
    border-radius:10px;
    .el-button--primary {
        &:hover {
            background-color: #108EF9;
            border-color: #108EF9;
        }
        &:focus {
            background-color: #108EF9;
            border-color: #108EF9;
        }
        &:active {
            background-color: #0F81D4;
            border-color: #0F81D4;
        }
        
    }
    .el-button--primary:hover {
        &.is-disabled {
            background-color: #91D5FF !important;
            border-color: #91D5FF !important;
        }
    }
    .el-input {
        border-color: #979797;
    }
    .el-radio-button__inner {
        border-color: #979797;
    }

    // 表单验证提示位置修改
    .el-form-item.is-error {
        margin-bottom: 32px;
    }
    // 表单验证提示位置修改
    .el-form-item__error {   
        margin-top: 5px;
        line-height: normal !important;
    }
    .el-tabs {
        border: none;
        margin: 10px;
        padding: 20px;
        min-height: calc(100vh - 160px);
        box-shadow: none;
    }
    .tab-info {
        .el-tabs__active-bar {
            background: #108ef9;
        }

        .el-tabs__header {
            background-color: #fff;
            margin-bottom: 28px;
        }

        .el-tabs__content {
            padding: 0;
        }
        .el-tabs__item {
            font-size: 14px;
            color: #333;
            font-weight: 400;
            padding: 0 25px;

            &:hover {
                color: #108ef9;
            }
            // text-align: center;
            // margin: 0;
            // margin-right: 34px;
            // margin-right: 17px;
        }

        .el-tabs__nav-wrap::after {
            height: 1px !important;
        }

        .el-tabs__item.is-active {
            color: #108ef9;
            font-weight: 400;
            border-right-color: #fff;
            border-left-color: #fff;
            border-bottom-color: #108ef9;
        }
        

        .el-tabs__nav-wrap {
            &::after {
                background: #f0f0f0;
            }
        }
    }
}

.operation-position{
    float: right;
    .active-operate {
        margin-top: 2px;
        .el-button--primary {
            background: none;
            color: #108EE9;
            font-size: 12px;
            height: 28px;
            border-radius: 14px;
            border-color: #108EE9;
            margin: 0 20px;

            
        }
    }
    .inactive-operate {
        margin-top: 2px;
        .el-button--primary {
            background: none;
            color: #333333;
            font-size: 12px;
            height: 28px;
            border-radius: 14px;
            border-color: #333333;
            margin: 0 20px;
            &:hover {
                color: #108EE9;
                border-color: #108EE9;
            }
        }
    }    
}

.success {
    color: #43B561 !important;
}
.info {
    color: #999999 !important;
}
.intermediate {
    color:#9254DE !important
}
.danger {
    color:#ff4d4f !important
}
.long-name {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    white-space: nowrap;
    float: left;
}

.long-name-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    white-space: nowrap;
}

.desc-type {
    width: 16px;
    margin-left: 5px;
}

.back-button {
    color: #666666;
    margin-left: 32px;
        span {
            margin-left: 10px !important;
        }
    
}

.operate-btn {
    width: 80px;
    color: #333333;
    font-size: 12px;
}

.desc-tooltip-popper {
    max-width: 300px;
}

.bl-none {
    border-left: none !important;
}