[Unit]
Description=BMP Agent
After=network-online.target
Wants=network-online.target

[Service]
Environment="PYTHON_EGG_CACHE=/tmp/.cache"
ExecStart=/usr/local/bin/bmp-agent

[Install]
WantedBy=multi-user.target
Alias=bmpa.service